<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Meltano</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <% if (htmlWebpackPlugin.options.injectApiURL) { %>
        <%= "<script>window.FLASK = JSON.parse('{{ jsContext | tojson | safe }}');</script>" %>
    <% } %>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but webapp doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
